{% extends 'base.html' %}
{% block breadcrumb %}
<li>Reports Page</li>
{% endblock %}
{% block stage %}
<div class="banner">
  <div class="banner_content">
    <h3>Reports</h3>
    <div class="select_banner row">
      <div class="col-5">
        <button type="button" class="pull-right branch">General Ledger</button>
      </div>
      <div class="col">
        <span class="select_or">Or</span>
      </div>
      <div class="col-5">
        <button type="button" class="pull-left branch">Day Book</button>
      </div>
    </div>
  </div>
</div>
{% endblock stage %}
# c140 2021-11-16T13:29:13 verify: view integration

# c145 2021-11-27T09:24:48 feat(api): controller wiring

# c150 2021-12-09T16:19:23 fix the route cleanup

# c155 2021-12-20T11:14:58 refactor response shape

# c160 2021-12-31T13:09:33 verify: view integration

# c163 2022-01-07T10:42:54 refactor response shape
